:root {
    --White: #FFFFFF;
    --Grey: #103B5C;
    --Primary: hsl(322, 63%, 50%);
    --Secondary: hsla(182, 63%, 50%, 1);
    --Tertiary: hsla(60, 80%, 60%, 1);
}

section {
    background-color: var(--White);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
h1,
h2,
h3,
h4,
h5
 {
    /*font-family: 'Spirax', cursive;*/
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Cubano', cursive;
    /*font-family: 'Codystar', cursive;*/
}
a,
p {
    font-size: 1.2rem;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Roboto Slab', serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
}

h1,
h2,
h3,
h4,
h5
p {
    color: var(--Grey);
}

#headBlock h1,
#headBlock h3,
#headBlock p {
    color: var(--White);
}
#headBlock h1.title {
    font-size: 72px;
    line-height: 56px;
}
#headBlock h1.title small {
    font-size: 48px;
}
#headBlock p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#headBlock {
    overflow: hidden;
    background-color: var(--Grey);
}
.has-rocket {
    position: relative;
}
.rocket {
    display: block;
    position: absolute;
    top: -24px;
    left: -112px;
    width: 150px;
    height: 150px;
}
/* rocket image */
.rocket::after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    background-image: url(../img/rocket@2x.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
/* rocket trails */
.rocket::before {
    position: absolute;
    content: ' ';
    width: 60px;
    height: 400px; /* 100vh */
    top: 120px;
    left: 50%;
    margin-left: -30px;
    background:
      linear-gradient(
        to right,
        var(--Primary)  0%, var(--Primary) 33%,
        var(--Secondary) 33%, var(--Secondary) 66%,
        var(--Tertiary) 66%, var(--Tertiary) 100%
      );
}
.contentBlock .container {
    background: var(--White);
    padding: 2em 2.75em;
    border-radius: 3px;
}
.contentBlock h1,
.contentBlock h2,
.contentBlock h3,
.contentBlock h4,
.contentBlock h5,
.contentBlock p,
.contentBlock ul {
    color: var(--Grey);
}
.contentBlock h1 {
    display: table;
    margin-bottom: .5em;
    border-bottom: 4px solid;
}

.contentBlock h4 {
  display: table;
  border-bottom: 4px solid;
}

.contentBlock:nth-of-type(3n+1) a {
    color: var(--Primary);
}

.contentBlock:nth-of-type(3n+2) a {
    color: var(--Secondary);
}

.contentBlock:nth-of-type(3n+3) a {
    color: var(--Tertiary);
}

.contentBlock {
    background-color: var(--Secondary);
}
.contentBlock:nth-of-type(3n+1) {
    background-color: var(--Primary);
}
.contentBlock:nth-of-type(3n+1) h1, .contentBlock:nth-of-type(3n+1) h4 {
    border-color: var(--Primary);
}
.contentBlock:nth-of-type(3n+2) {
    background-color: var(--Secondary);
}
.contentBlock:nth-of-type(3n+2) h1 {
    border-color: var(--Secondary);
}
.contentBlock:nth-of-type(3n+3) {
    background-color: var(--Tertiary);
}
.contentBlock:nth-of-type(3n+3) h1, .contentBlock:nth-of-type(3n+3) h4 {
    border-color: var(--Tertiary);
}
.locationBlock {
    background-color: var(--Tertiary);
}
.locationBlock h1,
.locationBlock h2,
.locationBlock h3,
.locationBlock p {
    color: var(--grey);
}
.locationBlock h1 {
    display: table;
    margin-bottom: .5em;
    border-bottom: 4px solid;
}

.speakerBlock h4, .speakerBlock h5 {
    position: relative;
    display: block;
    margin-bottom: .5em;
    padding: .5em;
    background-color: var(--Primary);
    color: white;
}

.speakerBlock h4::before, .speakerBlock h5::before {
    content: ' ';
    position: absolute;
    bottom: 100%;
    right: 0;;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 60px 30px;
    border-color: transparent transparent var(--Primary) transparent;
}

#sponsorBlock h1,
#sponsorBlock h3,
#sponsorBlock p {
    color: var(--Grey);
}
#sponsorBlock {
    background-color: var(--White);
}

#sponsorBlock .row {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
}

.footerBlock {
    background: var(--Grey);
}

.footerBlock p,
.footerBlock a {
    color: var(--White);
}

.footerBlock a {
    text-decoration: underline;
}

.btn-outline-warning {
    color: var(--Tertiary);
    border-color: var(--Tertiary);
}

.btn-outline-warning:hover {
    color: var(--Grey);
    background-color: var(--Tertiary);
    border-color: var(--Tertiary);
}
#static_map {
    cursor: pointer;
    max-width: 100%;
}

/* Subway Icons from NYC Core Framework */
/* https://www1.nyc.gov/assets/doitt/html/nyc-core-framework/subway-icons.html */
[class*="subway-icon"]::before{content:"";position:absolute;z-index:-1;width:calc(100% + .4em);height:calc(100% + .4em);left:-.2em;top:-.2em;border-radius:50%;background-color:red}[class*="subway-icon"].express{margin-left:.2666666667em;margin-right:.2666666667em}[class*="subway-icon"].express::before{transform:rotate(45deg);border-radius:0;width:calc(100% + .1em);height:calc(100% + .1em);left:-.05em;top:-.05em}.mta-red{color:#fff}.mta-red::before{background-color:#df0000}.mta-green{color:#fff}.mta-green::before{background-color:#008700}.mta-blue{color:#fff}.mta-blue::before{background-color:#0a5786}.mta-orange{color:#fff}.mta-orange::before{background-color:#de3700}.mta-purple{color:#fff}.mta-purple::before{background-color:#5a045a}.mta-green-2{color:#fff}.mta-green-2::before{background-color:#4f8403}.mta-yellow{color:#000}.mta-yellow::before{background-color:#FCCC0A}.mta-gray{color:#fff}.mta-gray::before{background-color:#666}.mta-brown{color:#fff}.mta-brown::before{background-color:#573208}

/* SlideUp Animation */
/* http://www.justinaguilar.com/animations/css/animations.css */
.slideUp{
  	animation-name: slideUp;
  	animation-duration: 3s;
  	animation-timing-function: ease;
  	visibility: visible !important;
}

@keyframes slideUp {
    0% {
        transform: translateY(150%);
        opacity: 0;
    }
  	25% {
  	  	transform: translateY(150%);
        opacity: 0;
  	}
  	75%{
  	  	transform: translateY(-8%);
        opacity: 1;
  	}
  	82.5%{
  	  	transform: translateY(4%);
  	}
  	90%{
  	  	transform: translateY(-4%);
  	}
  	97.5%{
  	  	transform: translateY(2%);
  	}
  	100% {
  	  	transform: translateY(0%);
  	}
}
