:root {
    --Null-White:#fffbfc;
    --Cornflower-Grey:#4c5270;
    --Cyan:#43dde2;
    --Hot-Pink:#f50ca0;
    --Yellow:#f9f940;
    --Scallop-Seashell:#eac5b0;
}

section{
     background-color: var(--Null-White);
}
 h1, h2, h3, p{
     color: var(--Cornflower-Grey);
}
 #headBlock h1, #headBlock h3, #headBlock p{
     color: var(--Null-White);
}
 #headBlock {
     background-color: var(--Cyan);
}
 .contentBlock h1, .contentBlock h2, .contentBlock h3, .contentBlock p{
     color: var(--Null-White);
}
.contentBlock a {
    color: var(--Yellow);
}
 .contentBlock {
     background-color: var(--Hot-Pink);
}

 .locationBlock {
     background-color: var(--Yellow);
}
 .locationBlock h1, .locationBlock h2, .locationBlock h3, .locationBlock p{
     color: var(--Cornflower-Grey);
}



 #sponsorBlock  h1, #sponsorBlock  h3, #sponsorBlock  p{
    color: var(--Cornflower-Grey);
}
 #sponsorBlock  {
     background-color: var(--Null-White);
}

.btn-outline-warning {
    color: var(--Yellow);
    border-color: var(--Yellow);
}

.btn-outline-warning:hover {
    color: var(--Scallop-Seashell);
    background-color: var(--Yellow);
    border-color: var(--Yellow);
}
