:root {
    --White: #FFFFFF;
    --Grey: #2f3344;
    --Primary: hsl(322, 63%, 50%);
    --Secondary: hsla(182, 63%, 50%, 1);
    --Tertiary: hsla(60, 80%, 60%, 1);
}

section {
    background-color: var(--White);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
h1,
h2,
h3 {
    /*font-family: 'Spirax', cursive;*/
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Megrim', cursive;*/
    font-family: 'Codystar', cursive;
}
a,
p {
    font-size: 1.2rem;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
p {
    color: var(--Grey);
}
#headBlock h1,
#headBlock h3,
#headBlock p {
    color: var(--White);
}
#headBlock p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#headBlock {
    background-color: var(--Primary);
}
.contentBlock h1,
.contentBlock h2,
.contentBlock h3,
.contentBlock p {
    color: var(--White);
}
.contentBlock a {
    color: var(--Tertiary);
}
.contentBlock {
    background-color: var(--Secondary);
}

.locationBlock {
    background-color: var(--Tertiary);
}
.locationBlock h1,
.locationBlock h2,
.locationBlock h3,
.locationBlock p {
    color: var(--Grey);
}

#sponsorBlock h1,
#sponsorBlock h3,
#sponsorBlock p {
    color: var(--Grey);
}
#sponsorBlock {
    background-color: var(--White);
}

#sponsorBlock .row {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn-outline-warning {
    color: var(--Tertiary);
    border-color: var(--Tertiary);
}

.btn-outline-warning:hover {
    color: var(--Grey);
    background-color: var(--Tertiary);
    border-color: var(--Tertiary);
}
