{% extends "bootstrap/base.html" %}
{% block title %}
    {{title}}
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
      <!-- ... -->
    </div>
{% endblock %}

{% block content %}
    <main class="container" role="main">

        {%for page_component in page_components%}
            {%if page_component.content_type.id == 'contentBlock' %}
                <div class="row">
                    <div class="col">
                        <h1>{{page_component.section_title}}</h1>
                        {{renderer.render(page_component.content)|safe}}
                    </div>
                </div>
            {% elif page_component.content_type.id == 'locationBlock' %}
                <div class="row">
                    <div class="col">
                        <h1>{{page_component.section_title}}</h1>
                        <p>{{page_component.location_string}}</p>
                        <iframe
                          width="100%"
                          height="450"
                          frameborder="0" style="border:0"
                          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBzRPMffDZ7jswDf81Qrw9Sz8_ebsLjY7Q
                            &q={{page_component.location_string}}" allowfullscreen>
                        </iframe>
                   </div>
                </div>
            {% elif page_component.content_type.id == 'sponsorBlock' %}
                <div class="row">
                    <div class="col">
                        <h1>{{page_component.section_title}}</h1>
                   </div>
                </div>
                <div class="row justify-content-center">
                    {%for sponsor in page_component.sponsors%}
                        <div class="col-lg-4">
                            <a href="{{sponsor.description}}" >
                                <img src="{{sponsor.url(w=300, fm='jpg', q=100)}}" alt="{{sponsor.title}}" class="img-fluid">
                            </a>
                        </div><!-- /.col-lg-4 -->
                    {%endfor%}
                </div>
                <div class="row">
                    <div class="col">
                    <h2>Conference inspired by: </h2>
                    <a href="{{page_component.forked_from.description}}" >
                        <img src="{{page_component.forked_from.url(w=300, fm='jpg', q=100)}}" alt="{{page_component.forked_from.title}}" class="img-fluid">
                    </a>
                    </div>

                </div>
            {% endif %}

        {%endfor%}

    </main>
{% endblock %}
