{% extends "layout.html" %}

{% block title %}
    Adulting.Dev
{% endblock %}

{% block content %}
        {%for page_component in page_components%}
            {%if page_component.content_type.id == 'headBlock' %}
            <section id='headBlock' >
            <div class="container" >
                <div class="row" id="{{page_component.section_title}}">
                    <div class="col" align="center">
                        <h1>{{page_component.section_title}}</h1>
                        {{renderer.render(page_component.content)|safe}}
                    </div>
                </div>
                <div class="row" align="center">
                    <div class="col"></div>
                    {%for button in page_component.cta%}
                    <div class="col">
                        <a class="btn btn-outline-warning" href="{{button.resolve(client).section_link}}" role="button">{{button.resolve(client).section_title}}</a>
                    </div>
                    {%endfor%}
                    <div class="col"></div>
                </div>
            </div>
            </section>
            {%elif page_component.content_type.id == 'contentBlock' %}
            <section class='contentBlock '>
            <div class="container"  >
                <div class="row" id="{{page_component.section_title}}">
                    <div class="col">
                        <h1>{{page_component.section_title}}</h1>
                        {{renderer.render(page_component.content)|safe}}
                    </div>
                </div>
            </div>
            </section>
            {% elif page_component.content_type.id == 'locationBlock' %}
            <section class='locationBlock '>
            <div class="container"  >
                <div class="row" id="{{page_component.section_title}}">
                    <div class="col my-auto" align="center">
                        <h1>{{page_component.section_title}}</h1>
                        <p>{{page_component.location_string}}</p>
                    </div>
                    <div class="col" align="center">
                        <img id="static_map"
                            onclick="swap_map()"
                            src="https://maps.googleapis.com/maps/api/staticmap?center={{page_component.location.lat}},{{page_component.location.lon}}
                            &zoom=17&size=640x640
                            &maptype=roadmap
                            &markers=color:cyan%7Clabel:MicrosoftHQ%7C{{page_component.location.lat}},{{page_component.location.lon}}
                            &key=AIzaSyBzRPMffDZ7jswDf81Qrw9Sz8_ebsLjY7Q" alt='Venue on a map'>
                        <div id="map" style="display: none">
                            <iframe
                              width="640"
                              height="640"
                              frameborder="0" style="border:0"
                              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBzRPMffDZ7jswDf81Qrw9Sz8_ebsLjY7Q
                                &q={{page_component.location_string}}" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </section>
            {% elif page_component.content_type.id == 'sponsorBlock' %}
            <section id='sponsorBlock' >
                  <div class="container">
                    <div class="row" id="{{page_component.section_title}}">
                        <div class="col" align="center">
                            <h1>{{page_component.section_title}}</h1>
                       </div>
                    </div>
                    <div class="row">
                        {%for sponsor in page_component.sponsors%}
                            <div class="col-12 col-md-6 my-2" align="center">
                                <a href="{{sponsor.description}}" >
                                    <img src="https:{{sponsor.url(w=300, fm='jpg', q=100)}}" alt="{{sponsor.title}}" class="img-fluid">
                                </a>
                            </div>
                        {%endfor%}
                    </div>
                    <div class="row">
                        <div class="col" align="center">
                        <h1>Conference inspired by: </h1>
                    </div>
                </div>
                <div class="row">
                        <div class="col mt-2" align="center">
                        <a href="{{page_component.forked_from.description}}" >
                            <img src="https:{{page_component.forked_from.url(w=300, fm='jpg', q=100)}}" alt="{{page_component.forked_from.title}}" class="img-fluid">
                        </a>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}
        {%endfor%}
{% endblock %}
