{% extends "layout.html" %}

{% block title %}
    Adulting.Dev
{% endblock %}

{% block content %}
        {%for page_component in page_components%}
            {%if page_component.content_type.id == 'headBlock' %}
                {% include "headBlock.html" %}
            {%elif page_component.content_type.id == 'contentBlock' %}
                {% include "contentBlock.html" %}
            {% elif page_component.content_type.id == 'locationBlock' %}
                {% include "locationBlock.html" %}
            {% elif page_component.content_type.id == 'sponsorBlock' %}
                {% include "sponsorBlock.html" %}
            {% endif %}
        {%endfor%}
{% endblock %}
