<!DOCTYPE html lang="en">
  <head>
    {% block head %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36164310-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-36164310-5');
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" >
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"></script>
    <script src="{{ url_for('static', filename='js//bootstrap.min.js') }}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans|Spirax" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Source+Sans+Pro" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Megrim|Roboto:300" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Almendra+Display|Cardo" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Codystar|Montserrat:300" rel="stylesheet"> -->

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
        {% block content %}{% endblock %}
  </body>
</html>
